<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="flex flex-col" action="/campgrounds/:id" method="post">
        <div>
        <label>Title :- </label>
        <input readonly class="bg-slate-400 pl-4" type="text" value="<%=foundcampground.title%>">
        <!-- </div>

        <div> -->
        <label>location :-</label>
        <input readonly class="bg-slate-400 pl-4" value="<%=foundcampground.location%>">
        </div>


        <div>
            <label for="newtitle">Title :- </label>
            <input id="newtitle" class="bg-slate-400 pl-4" type="text" name="newtitle">
            <!-- </div>

            <div> -->
            <label for="newloc">location :-</label>
            <input class="bg-slate-400 pl-4" id="newloc" type="text" name="newloc">
        </div>

        <button class="w-[30px]">Submit</button>
    </form>
</body>
</html>