<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <h1>All comments</h1>

    <% comments.forEach(element => { %>
        <div>
            <span style="font-weight: 800"><%=element.username%></span>
            <span>-</span>
            <span><%=element.comment%></span>
            <br>
            <a href="/editcomment/<%=element.id%>">Edit comment</a>
            <a href="/deletecomment/<%=element.id%>">Delete Comment</a>
        </div>
        <br>
    <%}); %>

    <a href="http://localhost:3000">Back to basics</a>
</body>
</html>