<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add comment</h1>


    <form method="post" action="/comments">
        <div>
        <label for="addusername">Enter username</label>
        <input id="addusername" name="addusername">
    </div>

    <br>

    <div>
        <label for="addcomment">Enter Comment</label>
        <textarea id="addcomment" name="addcomment"></textarea>
    </div>


    <button>submit comment</button>

    </form>
</body>
</html>